<footer class="text-center p-4 mt-5">
    <div class="container">
        <!-- Footer Links Section -->
        <div class="row mb-4">
            <!-- Customer Service Section -->
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Customer Service</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Contact Us</a></li>
                    <li><a href="#" class="text-white">FAQ</a></li>
                    <li><a href="#" class="text-white">Returns & Exchanges</a></li>
                </ul>
            </div>
            
            <!-- About Us Section -->
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>About Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Careers</a></li>
                    <li><a href="#" class="text-white">Privacy Policy</a></li>
                    <li><a href="#" class="text-white">Terms of Service</a></li>
                </ul>
            </div>

            <!-- Follow Us Section -->
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/" class="text-white">
                            <i class="fab fa-facebook-f"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" class="text-white">
                            <i class="fab fa-instagram"></i> Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/" class="text-white">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Copyright Notice -->
        <p class="mb-0">&copy; 2025 E-Shop. All Rights Reserved.</p>
    </div>
</footer>
